.home-page-wrapper {
	padding-top: 40px;
	.pagination-input {
		width: 600px;
		display: flex;
	}
	.text-page {
		font-size: 38px;
		width: 380px;
		text-align: center;
		font-weight: bold;
		margin: 0px;
	}
		
}
